@import "_variables";
@import "_mixins";

//FOOTER

.footer{
    max-width: $max-width;
    display: block;
    margin: 8% auto 2% auto;

    @include desktop{
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }

        &__left{
            display: block;
            text-align: center;  
            font-size: 12px;
            margin: 1rem 0;
                &__image{
                    width: 65px;
                    padding-bottom: 10px;

                    @include desktop{
                        width: 25%;
                    }
                }

                @include desktop {
                    display: flex;
                    align-items: center;
                    grid-column: 1;
                     &__copyright{
                        margin-left:25px;
                    }
                }

        }
        &__center{
                display: flex;
                align-items: center;
                justify-content: center;
                grid-column: 2;
                padding: 10px 0;

                .fa-brands{
                    margin-left: 1rem;
                }

                a:link, a:visited, a:active {
                    text-decoration:none;
                    color: $black;
                }
        }
        &__right{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0;
                padding: 1rem 0;
                    &__by{
                        font-size: 12px;
                    }
                    &__company{
                        margin-left: 5px;
                        width: 80%;
                }
            @include desktop{
                grid-column: 3;
                justify-content: end;
                font-size: 12px;
            }

        }
}